<div class="cards">
  <mat-card *ngFor="let item of repositories" class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [ngStyle]="{'background-image': 'url(' + item.avatarUrl + ')'}">
      </div>
      <mat-card-title>{{item.fullName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>{{item.avatarUrl}}</mat-card-content>
    <mat-card-actions>
      <img [src]="item.isBookmark? fullStart : emptyStart"
        (click)="item.isBookmark = !item.isBookmark; saveBookmark(item)">
    </mat-card-actions>
  </mat-card>
</div>
